:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global Button Components */
.primaryButton,
.secondaryButton,
.smallButton {
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.5px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: inline-block;
}

.primaryButton,
.secondaryButton {
  padding: 1rem 2rem;
  font-size: 1.1rem;
}

.smallButton {
  padding: 0.4rem 0.8rem;
  font-size: 0.85rem;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.primaryButton,
.smallButton.primary {
  background-color: var(--secondary-color);
  color: white;
  box-shadow: 0 4px 6px rgba(255, 37, 128, 0.3);
  border: none;
}

.secondaryButton,
.smallButton.secondary {
  background-color: white;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.primaryButton:hover,
.secondaryButton:hover,
.smallButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(255, 37, 128, 0.4);
}


.primaryButton:active,
.secondaryButton:active,
.smallButton:active {
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(255, 37, 128, 0.3);
} 